@charset "UTF-8";
body {
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto 0 auto;
  max-width: 1424px;
  background-color: #ffffff;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  width: 10%;
  margin: 0;
}

.header--wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.nav--pc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.nav--pc li {
  display: block;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}
.nav--pc li a {
  font-size: 20px;
  font-weight: bold;
}
.nav--pc li a:link {
  color: #222222;
  text-decoration: none;
}
.nav--pc li a:visited {
  color: #222222;
}
.nav--pc li span {
  display: block;
  text-align: center;
  font-size: 12px;
}

.slide--wrap {
  width: 90%;
  margin: 20px auto 100px auto;
}
.slide--wrap .slide__image {
  display: block;
  width: 100%;
}

.commitment {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.commitment .title--wrap {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  background-image: url(/image/名称未設定のデザイン\ \(1\).png);
  background-size: auto auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
}

.title--ja {
  text-shadow: 1px 1px 2px gray;
  font-size: 2.5rem;
  letter-spacing: 8px;
}

.title--en {
  text-shadow: 1px 1px 2px gray;
  font-size: 1rem;
  letter-spacing: 8px;
}

.commitment--wrap {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.left--wrap {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 5%;
}

.right--wrap {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 150px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.menu {
  width: 90%;
  margin: 30px auto 30px auto;
}

.title {
  margin-bottom: 30px;
}

.menu1 {
  display: flex;
  margin-bottom: 100px;
}
.menu1 img {
  width: 30%;
  margin: 0;
}

.menu1__info {
  background-color: #fffff9;
  margin-left: 100px;
}
.menu1__info div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.menu2 {
  display: flex;
  width: 90%;
  margin-bottom: 100px;
}
.menu2 img {
  width: 30%;
}

.menu2__info {
  background-color: #fffff9;
  margin-right: 100px;
}
.menu2__info div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.menu3__info {
  background-color: #fffff9;
  margin-left: 100px;
}
.menu3__info div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.menu-side {
  margin: 0 auto 30px auto;
  height: 500px;
}
.menu-side h2 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.menu-side div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.menu-side--wrap {
  display: flex;
}

dl {
  display: flex;
  justify-content: space-between;
  width: 80%;
  border-bottom: 1px solid #c2c2c2;
}
dl span {
  font-size: 1.2rem;
  font-weight: bold;
}