@charset "UTF-8";
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body,
html {
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto 0 auto;
  max-width: 1700px;
  background-color: #ffffff;
}

@media screen and (min-width: 891px) {
  header {
    z-index: 100;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #EEEEEE;
  }
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-inline: auto;
  }
  .header__hamburger {
    display: none;
  }
  .header__logo-box {
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
  }
  .header-logo {
    object-fit: cover;
    width: 100px;
    margin: 0 0 0 20px;
  }
  .header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav-list li {
    display: block;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
  }
  .header__nav-list li a {
    position: relative;
    font-size: 20px;
    font-weight: bold;
  }
  .header__nav-list li a:link {
    color: #222222;
  }
  .header__nav-list li a:visited {
    color: #222222;
  }
  .header__nav-list li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #222222;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform, 0.2s ease-in-out;
  }
  .header__nav-list li a:hover::after {
    transform: scaleX(1);
  }
  .header__nav-list li span {
    display: block;
    text-align: center;
    font-size: 12px;
  }
}
@media screen and (max-width: 890px) {
  header {
    width: 100%;
    min-height: 100vh;
    background-color: #EEEEEE;
  }
  .header__logo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
  }
  .header__hamburger {
    --opacity: 1;
    --rotate: 0;
    --translate: .5rem;
    z-index: 100;
    position: fixed;
    top: 10px;
    right: 10px;
    display: grid;
    place-items: center;
    width: 44px;
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .header__hamburger:hover {
    background-color: #989494;
  }
  .header__hamburger.header__hamburger--active {
    --opacity: 0;
    --rotate: 135deg;
    --translate: 0;
    background-color: #989494;
  }
  .header__hamburger span {
    display: block;
    width: 70%;
    height: 2px;
    background-color: #222222;
    grid-area: 1/1/-1/-1;
    transition: 0.4s ease;
  }
  .header__hamburger span:nth-child(1) {
    opacity: var(--opacity);
  }
  .header__hamburger span:nth-child(2) {
    translate: 0 calc(var(--translate) * -1);
    rotate: var(--rotate);
  }
  .header__hamburger span:nth-child(3) {
    translate: 0 var(--translate);
    rotate: calc(var(--rotate) * -1);
  }
  .header__nav-menu {
    z-index: 90;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease;
    background-color: #222222;
    width: 100%;
    height: 100vh;
  }
  .header__nav-menu.header__hamburger--active {
    opacity: 1;
    visibility: visible;
  }
  .header__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 15px;
    text-align: center;
  }
  .header__nav-list li {
    width: 70%;
    letter-spacing: 8px;
    border-bottom: 1px solid white;
  }
  .header__nav-list a {
    font-size: 1em;
  }
  .header__nav-list a:link {
    color: white;
  }
  .header__nav-list a:visited {
    color: white;
  }
  .header__nav-list span {
    display: block;
    font-size: 0.8em;
    opacity: 0.6;
  }
}
@media screen and (min-width: 891px) {
  .title--lang-ja {
    text-shadow: 1px 1px 2px gray;
    font-size: 2.5rem;
    letter-spacing: 8px;
  }
  .title--lang-en {
    text-shadow: 1px 1px 2px gray;
    font-size: 1rem;
    letter-spacing: 8px;
  }
  .main-slick__wrap {
    width: 100%;
    margin: 0 auto 100px auto;
  }
  .main-slick__wrap .main-slick__image {
    display: block;
    width: 100%;
    height: calc(100vh - 100px);
    object-fit: cover;
  }
  .commitment {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .commitment .commitment-title {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background-image: url(/image/タイトル背景.png);
    background-size: auto auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
  }
  .commitment__wrap {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  .commitment__left-wrap {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 5%;
  }
  .commitment__left-content {
    padding: 2%;
    margin-bottom: 5%;
    background-color: rgba(238, 238, 238, 0.5);
  }
  .commitment__right-wrap {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 150px;
  }
  .commitment__right-content {
    padding: 2%;
    margin-bottom: 5%;
    background-color: rgba(238, 238, 238, 0.5);
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .menu {
    width: 90%;
    margin: 30px auto 30px auto;
  }
  .menu-title {
    margin-bottom: 30px;
  }
  .menu-area--niboshi {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  .menu-area--niboshi img {
    object-fit: cover;
    width: 50%;
    margin: 0;
    filter: drop-shadow(0 0 10px #c2c2c2);
  }
  .menu-info--niboshi {
    width: 500px;
    height: max-content;
    padding: 10px;
    margin: auto;
    background-color: #f2f2df;
    box-shadow: 0 0 10px #c2c2c2;
  }
  .menu-info--niboshi div {
    width: 80%;
    margin: auto;
  }
  .menu-info--niboshi div h3 > span {
    font-size: 15px;
    opacity: 0.7;
  }
  .menu-area--rich-niboshi {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto 100px auto;
  }
  .menu-area--rich-niboshi .menu-info--rich-niboshi {
    width: 500px;
    height: max-content;
    padding: 10px;
    margin: auto;
    background-color: #f2f2df;
    box-shadow: 0 0 10px #c2c2c2;
  }
  .menu-area--rich-niboshi .menu-info--rich-niboshi div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-area--rich-niboshi .menu-info--rich-niboshi div h3 > span {
    font-size: 15px;
    opacity: 0.7;
  }
  .menu-area--rich-niboshi img {
    width: 45%;
    margin: 0;
    object-fit: cover;
    filter: drop-shadow(0 10px 10px #c2c2c2);
  }
  .menu-area--gray-niboshi {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  .menu-area--gray-niboshi img {
    object-fit: cover;
    width: 50%;
    padding: 0 5% 0 5%;
    filter: drop-shadow(0 0 10px #c2c2c2);
  }
  .menu-area--gray-niboshi .niboshi-ramen-hai {
    object-fit: cover;
    width: 40%;
    margin: 0;
    filter: drop-shadow(0 0 10px #c2c2c2);
  }
  .menu-info--gray-niboshi {
    width: 500px;
    height: max-content;
    padding: 10px;
    margin: auto;
    background-color: #f2f2df;
    box-shadow: 0 0 10px #c2c2c2;
  }
  .menu-info--gray-niboshi div {
    width: 80%;
    margin: auto;
  }
  .menu-info--gray-niboshi div h3 > span {
    font-size: 15px;
    opacity: 0.7;
  }
  .side-menu {
    margin: 0 auto 30px auto;
  }
  .side-menu h2 {
    width: 90%;
    margin-inline: auto;
    text-align: center;
  }
  .side-menu div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .side-menu__wrap {
    display: flex;
    justify-content: center;
  }
  .side-menu__wrap .side-menu__rise {
    width: 500px;
    margin: 0;
    padding-left: 70px;
  }
  .side-menu__wrap .side-menu__topping {
    width: 500px;
    margin: 0;
  }
  .side-menu__item {
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-bottom: 1px solid #c2c2c2;
  }
  .side-menu__item span {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .shop {
    width: 90%;
    margin: 30px auto 30px auto;
  }
  .shop-title {
    margin: 30px auto;
  }
  .shop-title h1 {
    text-align: center;
  }
  .shop-title p {
    text-align: center;
  }
  .shop-info {
    width: 100%;
  }
  .shop-info dl {
    display: flex;
    width: 800px;
    margin-inline: auto;
    border-bottom: 1px solid #c2c2c2;
  }
  .shop-info dl dt {
    width: 170px;
  }
  .map {
    width: 90%;
    margin: 30px auto 30px auto;
  }
  .map-title {
    width: 100%;
  }
  .map-title h1 {
    text-align: center;
  }
  .map-title p {
    text-align: center;
  }
  iframe {
    display: block;
    width: 100%;
    margin: 30px auto 30px auto;
  }
}
@media screen and (max-width: 890px) {
  .title--lang-ja {
    text-align: center;
  }
  .title--lang-en {
    text-align: center;
    opacity: 0.7;
  }
  .main-slick__wrap {
    width: 100%;
    margin: 0 auto;
  }
  .main-slick__wrap .main-slick__image {
    display: block;
    width: 100%;
  }
  .commitment {
    position: relative;
  }
  .commitment-title {
    width: 100%;
    margin: 40px auto;
  }
  .commitment-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 1%;
    left: 10%;
    width: 50px;
    height: 2px;
    background-color: #c2c2c2;
  }
  .commitment-title::after {
    content: "";
    position: absolute;
    top: 1%;
    right: 10%;
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #c2c2c2;
  }
  .commitment__wrap {
    width: 100%;
  }
  .commitment__left-content img {
    width: 100%;
  }
  .commitment__left-content h2 {
    text-align: center;
  }
  .commitment__left-content p {
    margin: 0 10px 10px 10px;
    letter-spacing: 2px;
  }
  .commitment__right-wrap {
    width: 100%;
  }
  .commitment__right-content img {
    width: 100%;
  }
  .commitment__right-content h2 {
    text-align: center;
  }
  .commitment__right-content p {
    margin: 0 10px 10px 10px;
    letter-spacing: 2px;
  }
  .menu {
    position: relative;
    width: 100%;
  }
  .menu-title {
    width: 100%;
    margin: 40px auto;
  }
  .menu-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0.6%;
    left: 10%;
    width: 50px;
    height: 2px;
    background-color: #c2c2c2;
  }
  .menu-title::after {
    content: "";
    position: absolute;
    top: 0.6%;
    right: 10%;
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #c2c2c2;
  }
  .menu-title p {
    text-align: center;
  }
  .menu-area--niboshi {
    margin-bottom: 30px;
  }
  .menu-area--niboshi img {
    width: 100%;
    filter: drop-shadow(0 0 10px #c2c2c2);
  }
  .menu-area--niboshi .menu-info--niboshi {
    margin: 0 10px;
    background-color: #f2f2df;
    box-shadow: 0 0 10px #c2c2c2;
  }
  .menu-area--niboshi .menu-info--niboshi div {
    width: 90%;
    margin: 0 auto;
  }
  .menu-area--niboshi .menu-info--niboshi div h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  .menu-area--niboshi .menu-info--niboshi div h3 {
    text-align: center;
  }
  .menu-area--niboshi .menu-info--niboshi div h3 span {
    opacity: 0.7;
  }
  .menu-area--niboshi .menu-info--niboshi div p {
    padding: 10px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .menu-area--rich-niboshi {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }
  .menu-area--rich-niboshi img {
    width: 75%;
    margin-inline: auto;
    filter: drop-shadow(0 0 10px #c2c2c2);
  }
  .menu-info--rich-niboshi {
    margin: 0 10px;
    background-color: #f2f2df;
    box-shadow: 0 0 10px #c2c2c2;
  }
  .menu-info--rich-niboshi div {
    width: 90%;
    margin: 0 auto;
  }
  .menu-info--rich-niboshi div h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  .menu-info--rich-niboshi div h3 {
    text-align: center;
  }
  .menu-info--rich-niboshi div h3 span {
    opacity: 0.7;
  }
  .menu-info--rich-niboshi div p {
    padding: 10px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .menu-area--gray-niboshi {
    margin-bottom: 30px;
  }
  .menu-area--gray-niboshi img {
    display: block;
    width: 75%;
    margin-inline: auto;
    filter: drop-shadow(0 0 10px #c2c2c2);
  }
  .menu-area--gray-niboshi .menu-info--gray-niboshi {
    margin: 0 10px;
    background-color: #f2f2df;
    box-shadow: 0 0 10px #c2c2c2;
  }
  .menu-area--gray-niboshi .menu-info--gray-niboshi div {
    width: 90%;
    margin: 0 auto;
  }
  .menu-area--gray-niboshi .menu-info--gray-niboshi div h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  .menu-area--gray-niboshi .menu-info--gray-niboshi div h3 {
    text-align: center;
  }
  .menu-area--gray-niboshi .menu-info--gray-niboshi div h3 span {
    opacity: 0.7;
  }
  .menu-area--gray-niboshi .menu-info--gray-niboshi div p {
    padding: 10px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .side-menu {
    width: 100%;
  }
  .side-menu h2 {
    text-align: center;
  }
  .side-menu__rise {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .side-menu__item {
    display: flex;
    justify-content: space-between;
    width: 75%;
    border-bottom: 1px solid #c2c2c2;
  }
  .side-menu__item dt > span {
    font-weight: bold;
  }
  .side-menu__item dd {
    font-weight: bold;
  }
  .side-menu__topping {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .shop {
    position: relative;
  }
  .shop-title {
    margin: 40px auto;
  }
  .shop-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 2.5%;
    left: 10%;
    width: 50px;
    height: 2px;
    background-color: #c2c2c2;
  }
  .shop-title::after {
    content: "";
    position: absolute;
    top: 2.5%;
    right: 10%;
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #c2c2c2;
  }
  .shop-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
  }
  .shop-info dl {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .shop-info dt {
    font-weight: bold;
  }
  .shop-info dd {
    width: 90%;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #c2c2c2;
  }
  .map {
    position: relative;
  }
  .map-title {
    margin: 40px auto;
  }
  .map-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 2.9%;
    left: 10%;
    width: 50px;
    height: 2px;
    background-color: #c2c2c2;
  }
  .map-title::after {
    content: "";
    position: absolute;
    top: 2.9%;
    right: 10%;
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #c2c2c2;
  }
  iframe {
    display: block;
    width: 90%;
    margin: 30px auto 30px auto;
  }
}
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body,
html {
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto 0 auto;
  max-width: 1700px;
  background-color: #ffffff;
}

@media screen and (min-width: 891px) {
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-inline: auto;
    background-color: rgb(22, 11, 11);
  }
  .footer__copyright {
    font-size: 1rem;
    color: white;
  }
  .footer__sns-area {
    display: flex;
  }
  .footer__sns-area .footer__logo--x {
    padding: 10px;
    width: 30px;
  }
  .footer__sns-area .footer__logo--instagram {
    padding: 10px;
    width: 30px;
  }
  .footer__top-btn {
    font-size: 1rem;
    position: relative;
    color: white;
  }
  .footer__top-btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: white;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform, 0.2s ease-in-out;
  }
  .footer__top-btn:hover::after {
    transform: scaleX(1);
  }
}
@media screen and (max-width: 890px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(22, 11, 11);
    width: 100%;
  }
  .footer__top-btn {
    order: -1;
    padding: 10px;
  }
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  .footer__copyright {
    order: 1;
    font-size: 1rem;
    color: white;
  }
  .footer__sns-area {
    order: 0;
    text-align: center;
  }
  .footer__logo--x {
    width: 10%;
    padding: 10px;
  }
  .footer__logo--instagram {
    width: 10%;
    padding: 10px;
  }
}