@charset "UTF-8";
h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body,
html {
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto 0 auto;
  max-width: 1700px;
  background-color: #ffffff;
}

@media screen and (min-width: 891px) {
  header {
    z-index: 100;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #EEEEEE;
  }
  .header-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-inline: auto;
  }
  .hamburger-menu {
    display: none;
  }
  .header-logo__box {
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
  }
  .header-logo {
    object-fit: cover;
    width: 100px;
    margin: 0 0 0 20px;
  }
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__list li {
    display: block;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
  }
  .nav__list li a {
    position: relative;
    font-size: 20px;
    font-weight: bold;
  }
  .nav__list li a:link {
    color: #222222;
  }
  .nav__list li a:visited {
    color: #222222;
  }
  .nav__list li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #222222;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform, 0.2s ease-in-out;
  }
  .nav__list li a:hover::after {
    transform: scaleX(1);
  }
  .nav__list li span {
    display: block;
    text-align: center;
    font-size: 12px;
  }
}
@media screen and (max-width: 890px) {
  header {
    width: 100%;
    min-height: 100vh;
    background-color: #EEEEEE;
  }
  .header-logo__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
  .header-logo {
    width: 100%;
  }
  .hamburger-menu {
    --opacity: 1;
    --rotate: 0;
    --translate: .5rem;
    z-index: 100;
    position: fixed;
    top: 10px;
    right: 10px;
    display: grid;
    place-items: center;
    width: 44px;
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .hamburger-menu:hover {
    background-color: #989494;
  }
  .hamburger-menu.is-active {
    --opacity: 0;
    --rotate: 135deg;
    --translate: 0;
    background-color: #989494;
  }
  .hamburger-menu span {
    display: block;
    width: 70%;
    height: 2px;
    background-color: #222222;
    grid-area: 1/1/-1/-1;
    transition: opacity 0.4s ease, rotate 0.4s ease, translate 0.4s ease;
  }
  .hamburger-menu span:nth-child(1) {
    opacity: var(--opacity);
  }
  .hamburger-menu span:nth-child(2) {
    translate: 0 calc(var(--translate) * -1);
    rotate: var(--rotate);
  }
  .hamburger-menu span:nth-child(3) {
    translate: 0 var(--translate);
    rotate: calc(var(--rotate) * -1);
  }
  .nav-menu {
    z-index: 90;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition-property: all;
    transition-duration: 0.4s;
    background-color: #222222;
    width: 100%;
    height: 100vh;
  }
  .nav-menu.is-active {
    opacity: 1;
    visibility: visible;
  }
  .nav__list {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .nav__list span {
    display: block;
  }
}
@media screen and (min-width: 891px) {
  .slide--wrap {
    width: 100%;
    margin: 0 auto 100px auto;
  }
  .slide--wrap .slide__image {
    display: block;
    width: 100%;
  }
  .commitment {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .commitment .commitment-title {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background-image: url(/image/名称未設定のデザイン\ \(1\).png);
    background-size: auto auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
  }
  .title--ja {
    text-shadow: 1px 1px 2px gray;
    font-size: 2.5rem;
    letter-spacing: 8px;
  }
  .title--en {
    text-shadow: 1px 1px 2px gray;
    font-size: 1rem;
    letter-spacing: 8px;
  }
  .commitment--wrap {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  .left--wrap {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 5%;
  }
  .left__content {
    padding: 2%;
    margin-bottom: 5%;
    background-color: rgba(238, 238, 238, 0.5);
  }
  .right--wrap {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 150px;
  }
  .right__content {
    padding: 2%;
    margin-bottom: 5%;
    background-color: rgba(238, 238, 238, 0.5);
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .menu {
    width: 90%;
    margin: 30px auto 30px auto;
  }
  .menu-title {
    margin-bottom: 30px;
  }
  .menu1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  .menu1 .niboshi-ramen-img {
    object-fit: cover;
    width: 50%;
    margin: 0;
    filter: drop-shadow(0 0 10px #c2c2c2);
  }
  .menu1 .niboshi-ramen-hai {
    object-fit: cover;
    width: 50%;
    margin: 0;
    filter: drop-shadow(0 0 10px #c2c2c2);
  }
  .menu1__info {
    width: 500px;
    height: max-content;
    padding: 10px;
    margin: auto;
    background-color: #f2f2df;
    box-shadow: 10px 10px #EEEEEE;
  }
  .menu1__info div {
    width: 80%;
    margin: auto;
  }
  .menu1__info div h3 > span {
    font-size: 15px;
    opacity: 0.7;
  }
  .menu2 {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto 100px auto;
  }
  .menu2 .menu2__info {
    width: 500px;
    height: max-content;
    padding: 10px;
    margin: auto;
    background-color: #f2f2df;
    box-shadow: 10px 10px #EEEEEE;
  }
  .menu2 .menu2__info div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu2 .menu2__info div h3 > span {
    font-size: 15px;
    opacity: 0.7;
  }
  .menu2 img {
    width: 45%;
    margin: 0;
    object-fit: cover;
    filter: drop-shadow(0 10px 10px #c2c2c2);
  }
  .menu-side {
    margin: 0 auto 30px auto;
  }
  .menu-side h2 {
    width: 90%;
    margin-inline: auto;
    text-align: center;
  }
  .menu-side div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-side--wrap {
    display: flex;
    justify-content: center;
  }
  .menu-side--wrap .rise {
    width: 500px;
    margin: 0;
    padding-left: 70px;
  }
  .menu-side--wrap .topping {
    width: 500px;
    margin: 0;
  }
  .dl-menu {
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-bottom: 1px solid #c2c2c2;
  }
  .dl-menu span {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .shop {
    width: 90%;
    margin: 30px auto 30px auto;
  }
  .shop-title {
    margin: 30px auto;
  }
  .shop-title .shop-title--ja {
    text-align: center;
  }
  .shop-title .shop-title--en {
    text-align: center;
  }
  .shop-info {
    width: 100%;
  }
  .shop-info dl {
    display: flex;
    width: 800px;
    margin-inline: auto;
    border-bottom: 1px solid #c2c2c2;
  }
  .shop-info dl dt {
    width: 170px;
  }
  .map {
    width: 90%;
    margin-inline: auto;
  }
  .map-title--wrap {
    width: 100%;
  }
  .map-title--wrap h1 {
    text-align: center;
  }
  .map-title--wrap p {
    text-align: center;
  }
  iframe {
    display: block;
    width: 100%;
    margin: 30px auto 30px auto;
  }
}
@media screen and (max-width: 890px) {
  .slide--wrap {
    width: 100%;
    margin: 0 auto;
  }
  .slide--wrap .slide__image {
    display: block;
    width: 100%;
  }
  .commitment {
    position: relative;
  }
  .commitment-title {
    width: 100%;
    margin: 40px auto;
  }
  .commitment-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 1%;
    left: 10%;
    width: 50px;
    height: 2px;
    background-color: #c2c2c2;
  }
  .commitment-title::after {
    content: "";
    position: absolute;
    top: 1%;
    right: 10%;
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #c2c2c2;
  }
  .title--ja {
    text-align: center;
  }
  .title--en {
    text-align: center;
    opacity: 0.7;
  }
  .commitment--wrap {
    width: 100%;
  }
  .left__content img {
    width: 100%;
  }
  .left__content h2 {
    text-align: center;
  }
  .left__content p {
    margin: 0 10px 10px 10px;
    letter-spacing: 2px;
  }
  .right--wrap {
    width: 100%;
  }
  .right__content img {
    width: 100%;
  }
  .right__content h2 {
    text-align: center;
  }
  .right__content p {
    margin: 0 10px 10px 10px;
    letter-spacing: 2px;
  }
  .right__content .h2 {
    font-size: 22px;
  }
  .menu {
    position: relative;
    width: 100%;
  }
  .menu-title {
    width: 100%;
    margin: 40px auto;
  }
  .menu-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0.6%;
    left: 10%;
    width: 50px;
    height: 2px;
    background-color: #c2c2c2;
  }
  .menu-title::after {
    content: "";
    position: absolute;
    top: 0.6%;
    right: 10%;
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #c2c2c2;
  }
  .menu-title .title--ja {
    text-align: center;
  }
  .menu-title .title--en {
    text-align: center;
    opacity: 0.7;
  }
  .menu-title p {
    text-align: center;
  }
  .menu1 {
    margin-bottom: 30px;
  }
  .menu1 img {
    width: 100%;
    filter: drop-shadow(0 0 10px #c2c2c2);
  }
  .menu1 .menu1__info {
    margin: 0 10px;
    background-color: #f2f2df;
    box-shadow: 0 0 10px #c2c2c2;
  }
  .menu1 .menu1__info div {
    width: 90%;
    margin: 0 auto;
  }
  .menu1 .menu1__info div h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  .menu1 .menu1__info div h3 {
    margin: 0 0 10px 60px;
  }
  .menu1 .menu1__info div h3 span {
    opacity: 0.7;
  }
  .menu1 .menu1__info div p {
    padding-bottom: 10px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .menu2 {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }
  .menu2__info {
    margin: 0 10px;
    background-color: #f2f2df;
    box-shadow: 0 0 10px #c2c2c2;
  }
  .menu2__info div {
    width: 90%;
    margin: 0 auto;
  }
  .menu2__info div h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  .menu2__info div h3 {
    margin: 0 0 10px 60px;
  }
  .menu2__info div h3 span {
    opacity: 0.7;
  }
  .menu2__info div p {
    padding-bottom: 10px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .nouko-niboshi-ramen-img {
    width: 100%;
    filter: drop-shadow(0 0 10px #c2c2c2);
  }
  .menu-side {
    width: 100%;
  }
  .menu-side h2 {
    text-align: center;
  }
  .rise {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .dl-menu {
    display: flex;
    justify-content: space-between;
    width: 75%;
    border-bottom: 1px solid #c2c2c2;
  }
  .dl-menu dt > span {
    font-weight: bold;
  }
  .dl-menu dd {
    font-weight: bold;
  }
  .topping {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .shop {
    position: relative;
  }
  .shop-title {
    margin: 40px auto;
  }
  .shop-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 2.5%;
    left: 10%;
    width: 50px;
    height: 2px;
    background-color: #c2c2c2;
  }
  .shop-title::after {
    content: "";
    position: absolute;
    top: 2.5%;
    right: 10%;
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #c2c2c2;
  }
  .shop-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
  }
  .shop-info dl {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .shop-info dt {
    font-weight: bold;
  }
  .shop-info dd {
    margin: 0;
    border-bottom: 1px solid #c2c2c2;
  }
  iframe {
    display: block;
    width: 100%;
    margin: 30px auto 30px auto;
  }
}
h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body,
html {
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto 0 auto;
  max-width: 1700px;
  background-color: #ffffff;
}

@media screen and (min-width: 891px) {
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-inline: auto;
    background-color: rgb(22, 11, 11);
  }
  .copyright {
    font-size: 1rem;
    color: white;
  }
  .logo__area {
    display: flex;
  }
  .logo__area .logo-x {
    padding: 10px;
    width: 30px;
  }
  .logo__area .logo-instagram {
    padding: 10px;
    width: 30px;
  }
  .btn-top {
    font-size: 1rem;
    position: relative;
    color: white;
  }
  .btn-top::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: white;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform, 0.2s ease-in-out;
  }
  .btn-top:hover::after {
    transform: scaleX(1);
  }
}
@media screen and (max-width: 890px) {
  footer {
    background-color: rgb(22, 11, 11);
    width: 100%;
  }
  .logo-x {
    width: 10%;
  }
  .logo-instagram {
    width: 10%;
  }
}