//リセットCSS
h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

// 全体のフォント
@mixin base-font {
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

//全体の設定
body,
html {
  @include base-font();
  margin: 0 auto 0 auto;
  max-width: 1700px;
  background-color: #ffffff;
}

// セクションタイトルのフォーマット
@mixin title-format($fontSize) {
  text-shadow: 1px 1px 2px gray;
  font-size: $fontSize;
  letter-spacing: 8px;
}

// メディアクエリー
$breakpoints: (
  'pc': 'screen and (min-width: 891px)',
  'sp': 'screen and (max-width: 890px)',
  ) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}