@use '..//setting/config';

@include config.mq(pc) {

  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-inline: auto;
    background-color: rgb(22, 11, 11);
  }

  .copyright {
    font-size: 1rem;
    color: white;
  }

  .logo__area {
    display: flex;

    .logo-x {
      padding: 10px;
      width: 30px;
    }

    .logo-instagram {
      padding: 10px;
      width: 30px;
    }
  }

  .btn-top {
    font-size: 1rem;
    position: relative; //子要素にabsoluteをかけるのに必要
    color: white;
  }

  //罫線疑似要素 ※初期は非表示
  .btn-top::after {
    content: ''; //コンテンツを配置
    position: absolute; //罫線の絶対位置を設定
    bottom: 0; //線の位置
    left: 0; //線の位置
    width: 100%; //罫線の幅
    height: 2px; //罫線の高さ
    border-radius: 4px; //罫線の丸み
    background-color: white; //罫線の色
    transform-origin: center; //疑似要素の座標
    transform: scaleX(0); //罫線のX軸の長さ ※「0」は何も表示されない
    transition: transform, 0.2s ease-in-out; //アニメーション設定
  }

  //マウスオーバー時、疑似要素を表示
  .btn-top:hover::after {
    transform: scaleX(1); //罫線のX軸の長さを1 ※「1」は元の要素のサイズ
  }

}


// スマートフォン用
@include config.mq(sp) {
  footer {
    background-color:rgb(22, 11, 11);
    width: 100%;
  }

  .logo-x{
    width: 10%;
  }

  .logo-instagram{
    width: 10%;
  }
}