@use '../setting/config';

// ----カルーセル---- ※将来的にカルーセルにする
.slide--wrap {
  width: 90%;
  margin: 20px auto 100px auto;

  .slide__image {
    display: block;
    width: 100%;
  }
}

// ----煮焚きのこだわりセクション----
.commitment {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  // タイトル
  .title--wrap {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background-image: url(/image/名称未設定のデザイン\ \(1\).png);
    background-size: auto auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
  }
}

.title--ja {
  @include config.title-format(2.5rem);
}

.title--en {
  @include config.title-format(1rem);
}

// こだわり大枠
.commitment--wrap {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

//左側のこだわり 
.left--wrap {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 5%;
}

// 右側のこだわり
.right--wrap {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 150px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

// ----お品書きセクション----
.menu {
  width: 90%;
  margin: 30px auto 30px auto;
}

.menu-title {
  margin-bottom: 30px;
}

// 煮干しラーメン
.menu1 {
  display: flex;
  margin-bottom: 100px;

  img {
    width: 30%;
    margin: 0;
  }
}

.menu1__info {
  background-color: #fffff9;
  margin-left: 100px;

  div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

// 濃厚煮干しラーメン
.menu2 {
  display: flex;
  width: 90%;
  margin-bottom: 100px;

  img {
    width: 30%;
  }
}

.menu2__info {
  background-color: #fffff9;
  margin-right: 100px;

  div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}


// 煮干しラーメン 炭
.menu3__info {
  background-color: #fffff9;
  margin-left: 100px;

  div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}


// サイドメニュー
.menu-side {
  margin: 0 auto 30px auto;
  // height: 500px;

  h2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

// リスト

.menu-side--wrap {
  display: flex;
}

.dl-menu {
  display: flex;
  justify-content: space-between;
  width: 80%;
  border-bottom: 1px solid #c2c2c2;

  span {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

// ----店舗情報セクション----

//セクション
.shop {
  width: 90%;
  margin: 30px auto 30px auto;
}

// タイトル
.shop-title {
  margin: 30px auto;

  .shop-title--ja {
    text-align: center;
  }

  .shop-title--en {
    text-align: center;
  }
}


//店舗情報
.shop-info {
  width: 100%;

  dl {
    display: flex;
    width: 800px;
    margin-inline: auto;
    border-bottom: 1px solid #c2c2c2;

    dt {
      width: 170px;
    }
  }
}

// ----店舗情報セクション----
.map{
  width: 90%;
  margin-inline:auto;
}

.map-title--wrap{
  width: 100%;

  h1{
    text-align: center;
  }

  p{
    text-align: center;
  }
}

.map-area{
  width: 100%;
}

iframe{
  display: block;
  width: 100%;
  margin-inline: auto;
}